*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #f9f8f8;
}

/*===The Global class=====*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/*===Global class End====*/

/*===The Header===========*/
header{
    background: #07212e;
    color: #ffff;
    padding-top: 20px;
    min-height: 80px;
    border-bottom: #81564a solid;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: fixed;
}

ul{
    margin: 0;
    padding: 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid transparent;
}

a.active,a:hover{
    color: green;
    font-weight: bolder;
    border: 1px solid white;
    transition: .5s;
    transition-duration: .5s;
    transition-delay: .01s;
}

.button_sub{
    height: 38px;
    background: #e8491d;
    text-align: center;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffff;
}

.color{
    padding: 15px;
    background: #07212e;
    color: #ffff;
    border: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.color p{
    margin-top: 15px;
}
label{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

label, input[type="text"], 
label, input[type="email"], 
button[type="submit"], 
label textarea{
    margin-top: 10px;
}

form.color input[type="text"],
form.color input[type="email"]
{
    border: 0;
    border-radius: 3px;
    height: 25px;
    width: 250px;
}



header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bolder;
}

header .sub-highlight, header .current a{
    font-size: 16px;
    margin: 0;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
}


/*===Heade End==r*/

/*====Showcase*/
#slider{
    min-height:800px;
    /* width: 500px; */
    background-image: linear-gradient(
        rgba(0,0,0,0.64), 
        rgba(0,0,0,0.64)), 
        url("../images/image8.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: #ffff;
    background-size: cover;
    background-position: center;
    font-weight: bolder;
    /* opacity: 0.5; */
}

#slider p{
    margin-top: 300px;
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: bolder;
    color: #fff;
    display: flex;
    justify-content: center;
    text-shadow:2px 2px 2px #e8491d;
}

/* #slider p{
    font-size: 20px;
    margin-top: 50px;
} */

#newsletter{
    padding: 15px;
    color: #ffff;
    /* background: #34495e; */
    background: #333333;   
}


#newsletter h1{
    float: left;
    padding-top: 15px;
}



#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*====Showcase End*/

/*====Boxes========*/
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 90px;
}
/*====Boxes End=====*/


/*====SideBar========*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .courses input, 
aside#sidebar .courses textarea{
    width: 90%;
    padding: 5px;

}
/*====SideBar End=====*/



/*=====Main Conten=====t*/
article#main-content{
    float: left;
    width: 65%;

}
/*=====Main Content End====*/

/*====Services=======*/
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccccc solid;
    margin-bottom: 5px;
    background: #e6e6e6;
}
/*====Services End====*/



/* =========Contact Form page css======== */

/* =========End Contact Form page css======== */



/*====Footer=====*/
footer{
    padding: 20px;
    margin-top:20px;
    color: #ffff;
    background: #35424a;
    text-align: center;
}
/*====Footer End=====*/



/*===ADDING MEDIA QUERRIES FOR RESPONSIVENESS=====*/

@media(max-width:760px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-content,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    .sub-highlight{
        display: block
    }

    header{
        padding-bottom: 20px;
    }

    #slider p{
        /* line-height: 75px; */
        display: inline-flex;
        margin-top: 180px;
        font-size: 3.1em;

    }

    #showcase h1{
        margin-top: 10px;
        line-height: normal;
    }

    #newsletter button, .courses .button_sub{
        display: block;
        width: 100%;
        cursor: pointer;
    }

    #newsletter form input[type="email"], 
    .course input, 
    .course textarea{
        width: 100%;
        margin-bottom: 5px;
    }
    nav ul{
       margin-right: 20px;
    }

    nav a{
        font-size: 17px;
    }

    nav ul{
        position: fixed;
        width: 50%;
        height: 80vh;
        background: #07212e; 
        bottom: 20px; 
        left: -100%;
        gap: 0;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transition: all .4s; 
    }

    nav li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

    nav a{
        font-size: 20px;   
    }
    a.active,a:hover{
        border: none;
        color:#3498db;
    }
    nav ul.active{
        left: 0;
    }

    .hamburger{
        display: block;
        padding-top: 15px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 150px;
        gap: 0;
        flex: column;
        background: #07212e;
        width: 100%;
        text-align: center;
        transition: 0.5s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}
